<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-color: #111827;
  color: #ffffff;
  font-family: Arial, sans-serif;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #1E2534;
}

table, th, td {
  border: 1px solid #ffffff;
  padding: 5px;
  text-align: center;
}

th {
  background-color: #4299E1;
}
</style>
</head>
<body>

<h2>Gas Alert Industrial Inspection Robot</h2>

<table>
  <tr>
    <th>MQ6 Sensor</th>
    <th>MQ7 Sensor</th>
    <th>MQ9 Sensor</th>
    <th>MQ135 Sensor</th>
  </tr>
  {% for row in table_data %}
  <tr>
    {% for value in row %}
    <td>{{ value }}</td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>

</body>
</html>
